<!doctype html>
<html lang="en">
    <head>
        <title>Ed Parry | edparry.com</title>
        <meta name="author" content="Ed Parry"/>
        <meta name="description" content="oftware developer and consultant. Umbraco and .NET specialist. Team lead. Open source contributor."/>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="x-dns-prefetch-control" content="off">

        <link rel="canonical" href="https://edparry.com"/>
        <link rel="icon" type="image/ico" href="/favicon.ico"/>
        <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="imageContainer">
                <img class="real" src="<%= require('./src/assets/edparry_hover.jpg') %>"/>
                <img class="drawn" src="<%= require('./src/assets/edparry.png') %>"/>
            </div>
            <h1>Ed Parry<span class="cursor">_</span></h1>
            <div class="description">
                    <p>Software developer and consultant. Umbraco and .NET specialist. Team lead. Open source contributor. Student of user experience and design. Professional problem solver. Occaisional writer. Fan of sport, coffee and non-fiction books.</p>
                    <p>Always looking to learn and improve.</p>
            </div>    
            <div class="links">
                <a href="https://medium.com/@edparry" title="Read my blog on Medium">Medium</a><span class="separator">|</span>
                <a href="https://github.com/ed-parry" title="Discover my projects on GitHub">GitHub</a><span class="separator">|</span>
                <a href="https://twitter.com/edparry" title="Follow me on Twitter">Twitter</a>
            </div>
        </div>
    </body>
</html>